* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

body nav {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .logo {
  margin-left: 20px;
  width: 70px;
  height: 45px;
}

body nav ul {
  list-style-type: none;
}

body nav ul li {
  display: inline-block;
}

body nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 12px 14px;
  color: #ffffff;
}

body nav ul li :hover {
  cursor: pointer;
  color: #fffc72;
}

body .home {
  height: 70vh;
  background-image: url("../img/breaking-bad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-moz-selection {
  background: #81c09b;
}

::selection {
  background: #81c09b;
}

.main {
  background-color: #f8f9fa;
}

.main .season-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .season-menu :hover {
  cursor: pointer;
  background-color: #81fbb8;
}

.main .season-menu :focus {
  background-color: #81fbb8;
}

.main .season-menu :target {
  background-color: #81fbb8;
}

.episodes-show,
.main {
  padding: 10px;
}

.episodes-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.episodes-show .episode {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #4e4e4e;
  -webkit-box-shadow: -1px 1px 1px 0px rgba(112, 112, 112, 0.44);
          box-shadow: -1px 1px 1px 0px rgba(112, 112, 112, 0.44);
}

.episodes-show .episode .episode-info {
  line-height: 30px;
}

.episodes-show .episode .episode-num {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  color: white;
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
  margin: 0 auto;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 40px;
}

.episode:hover {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  cursor: pointer;
  background-color: #81fbb8;
}

.season {
  padding: 10px;
  color: #ffffff;
  margin-left: 10px;
  outline: none;
  background-color: #81c09b;
  border: none;
}

.pick-season {
  padding: 10px;
}

.season {
  margin: 10px;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  background-color: #28c76f;
}

.season:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.episodes-hide {
  display: none;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #212529;
  color: #dee1e4;
}

footer .contact-icons {
  margin: 5px;
  padding: 5px;
}

footer .contact-icons > a {
  margin: 5px;
}

footer a {
  text-decoration: none;
  color: #dee1e4;
}

footer a > i {
  font-size: 20px;
}

footer a > i:hover {
  color: #81fbb8;
}
/*# sourceMappingURL=main.css.map */