* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

body .home {
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.3fr 1.5fr;
      grid-template-rows: 0.3fr 1.5fr;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  line-height: 1.6em;
  color: #f8f9fa;
  background-color: #051d05;
  letter-spacing: 0.5px;
  font-size: 16px;
}

body .home nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  z-index: 1;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000c9;
  height: 55px;
}

body .home nav .logo {
  margin-left: 20px;
  width: 70px;
  height: 45px;
}

body .home nav ul {
  list-style-type: none;
}

body .home nav ul li {
  display: inline-block;
}

body .home nav ul li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 12px;
}

body .home nav ul li :hover {
  cursor: pointer;
  background-color: #28c76f;
}

body .home .info-wrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  padding: 30px;
  margin-left: 30px;
  line-height: 1.7em;
  color: #e7e7e7;
}

body .home .info-wrapper .header-info {
  line-height: 1.9em;
  margin-bottom: 20px;
}

body .home .info-wrapper .header-info h2 {
  color: #28c76f;
}

body .home .info-wrapper .header-description {
  color: #c9c9c9;
}

body .home .header-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
  background-image: url("../img/walter-art.png");
  -webkit-clip-path: circle(80.9% at 100% 49%);
          clip-path: circle(80.9% at 100% 49%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: inherit;
}

::-moz-selection {
  background: #81c09b;
}

::selection {
  background: #81c09b;
}

.main {
  background-color: #f8f9fa;
}

.main .season-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .season-menu :hover {
  cursor: pointer;
  background-color: #81fbb8;
}

.main .season-menu :focus {
  background-color: #81fbb8;
}

.main .season-menu :target {
  background-color: #81fbb8;
}

.episodes-show,
.main {
  padding: 10px;
}

.episodes-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.episodes-show .episode {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  color: #4e4e4e;
  -webkit-box-shadow: -1px 1px 1px 0px rgba(112, 112, 112, 0.44);
          box-shadow: -1px 1px 1px 0px rgba(112, 112, 112, 0.44);
}

.episodes-show .episode .episode-info {
  line-height: 30px;
}

.episodes-show .episode .episode-num {
  text-align: left;
  font-size: 20px;
  padding-bottom: 10px;
  color: #28c76f;
}

.episode:hover {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  cursor: pointer;
  background-color: #81fbb8;
}

.season {
  padding: 10px;
  color: #ffffff;
  margin-left: 10px;
  outline: none;
  background-color: #81c09b;
  border: none;
}

.pick-season {
  padding: 10px;
}

.season {
  margin: 10px;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  background-color: #28c76f;
}

.season:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.episodes-hide {
  display: none;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #212529;
  color: #dee1e4;
}

footer .contact-icons {
  margin: 5px;
  padding: 5px;
}

footer .contact-icons > a {
  margin: 5px;
}

footer a {
  text-decoration: none;
  color: #dee1e4;
}

footer a > i {
  font-size: 20px;
}

footer a > i:hover {
  color: #81fbb8;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */