// Global variables
$light-green: #81c09b;
$dark-green: #183c28;
$green: #286955;
$primary-dark: #051d05;
$gray: #bebfc4;
$white: #ffffff;
$yellow: #eec643;
$light-yellow: #fffc72;
$secondary-dark: #435a64;
$light-gray: #f8f9fa;
$dark-black: #212529;
$orange: #c27a40;
* {
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}

.home {
    height: 70vh;
    display: grid;
    grid-template-rows: 0.3fr 1.5fr;
    grid-template-columns: 1fr 1.2fr;
    line-height: 1.6em;
    color: $light-gray;
    background-color: $primary-dark;
    letter-spacing: 0.5px;
    font-size: 16px;
    nav {
        grid-area: 1/1/2/3;
        z-index: 1;
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #000000c9;
        height: 55px;
        .logo {
            margin-left: 20px;
            width: 70px;
            height: 45px;
        }
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    color: $white;
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px 12px;
                }
                :hover {
                    cursor: pointer;
                    background-color: #28c76f;
                }
            }
        }
    }
    .info-wrapper {
        grid-area: 2/1/3/2;
        padding: 30px;
        margin-left: 30px;
        line-height: 1.7em;
        color: #e7e7e7;
        .header-info {
            line-height: 1.9em;
            margin-bottom: 20px;
            h2 {
                color: #28c76f;
                font-size: 1.9em;
            }
        }
        .header-description {
            color: #c9c9c9;
            .tags {
                margin-top: 30px;
                .tag {
                    border: 1px solid #286955;
                    padding: 5px;
                    margin-right: 10px;
                    border-radius: 10px;
                    text-align: center;
                }
            }
        }
    }
    .header-image {
        grid-area: 1/2/3/3;
        background-image: url("../img/walter-art.png");
        clip-path: circle(80.9% at 100% 49%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        height: inherit;
    }
}

::selection {
    background: $light-green;
    color: $dark-black;
}

.main {
    background-color: $light-gray;
    .season-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        :hover {
            cursor: pointer;
            background-color: #81fbb8;
        }
        :focus {
            background-color: #81fbb8;
            outline: none;
        }
        :target {
            background-color: #81fbb8;
        }
    }
}
.episodes-show,
.main {
    padding: 10px;
}
.episodes-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    // justify-content: space-evenly;
    .episode {
        width: 300px;
        height: 150px;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        background-color: $white;
        color: #4e4e4e;
        position: relative;
        box-shadow: -1px 1px 1px 0px rgba(112, 112, 112, 0.44);

        display: inline-block;
        position: relative;
        transition-duration: 0.5s;
        transition-property: transform;

        .epi_num {
            background-color: #fc810f;
            color: #f8f9fa;
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-left-radius: 10px;
            height: 30px;
            width: 40px;
            text-align: center;
            padding: 5px;
            line-height: 20px;
        }
        .episode-info {
            line-height: 30px;
        }
        .episode-num {
            text-align: left;
            font-size: 20px;
            padding-bottom: 10px;
            color: #28c76f;
        }
    }
    .episode:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        transition-duration: 0.5s;
        transition-property: transform opacity;
    }
    .episode:hover {
        transform: translateY(-5px); /* move the element up by 5px */
    }
    .episode:before {
        opacity: 1;
        transform: translateY(
            5px
        ); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }
}

.pick-season {
    padding: 10px;
}

.season {
    outline: none;
    margin: 10px;
    padding: 12px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    display: block;
    background-color: #28c76f;
    border: none;
}

.season:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.episodes-hide {
    display: none;
}

#season-0 > .episode {
    display: none;
}
#season-0 > .episode:nth-child(-n + 10) {
    display: block;
}

.show-more-wrap {
    width: 100%;
    text-align: center;
}
.show-more {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    background-color: #28c76f;
    outline: none;
    color: #fff;
    border: none;
    text-align: center;
    padding: 14px 20px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background-color: #81fbb8;
    }
}

#to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fc810f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

    &:hover {
        background-color: #ce6300;
    }
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #212529;
    color: #dee1e4;
    .contact-icons {
        margin: 5px;
        padding: 5px;
    }
    .contact-icons > a {
        margin: 5px;
    }
    a {
        text-decoration: none;
        color: #dee1e4;
    }
    a > i {
        font-size: 20px;
    }
    a > i:hover {
        color: #81fbb8;
    }
}
@media screen and (max-width: 750px) {
    .home {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        height: 80vh;

        nav {
            font-size: 0.9em;
            display: flex;
            flex-direction: row;
            background-color: #000000c9;
            height: 10vh;
            .logo {
                margin-left: 20px;
                width: 40px;
                height: 100%;
            }
            ul {
                display: flex;
                flex-direction: row;
            }
        }
        .header-image {
            display: none;
        }

        .header-description {
            .tags {
                font-size: 0.9em;
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .tag {
                    padding: 10px;
                    margin: 10px;
                    border-radius: 10px;
                    text-align: center;
                }
            }
        }
    }

    .season {
        font-size: 0.9em;
        padding: 7px 10px;
    }
}
